<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="dynamiconnection" connectionString="data source=mauintapp01;initial catalog=Attrition;User ID=DashboardUser;Password=abc?123!;multipleactiveresultsets=True;" />
  </connectionStrings>
  <appSettings>
    <add key="BackupFolder" value="C:/temp/"/>
    <add key ="DatabaseScriptFile" value="../../../../sql/EmployeeTableScript.sql"/>
    <add key ="DataFile" value="../../../../data/employees.csv"/>
  </appSettings>
</configuration>
